<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{apiService.user}}</h2>
      <h4>{{apiService.userType}}</h4>
    </div>
    <img *ngIf="verImagen" [src]="imagen" alt="Usuario" style="width: 50px; height: 50px;">
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="verMenu">
    <h2 matSubheader>Menu</h2>

    <a mat-list-item routerLinkActive="list-item-active" *ngFor="let item of menuActual"
       (click)="clickValue(item)">{{ item.tituloMenu }}</a>

    <mat-divider></mat-divider>

    <div *ngIf="tienePermisoSeguridad">
      <h2 matSubheader>Seguridad</h2>

      <a mat-list-item routerLinkActive="list-item-active" (click)="clickValue(itemSeguridad)">
        <mat-icon>security</mat-icon>
        {{ itemSeguridad.tituloMenu }}
      </a>
    </div>
  </div>
</mat-nav-list>
