.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

table {
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
