<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="main-body" *ngIf="displayTable">

  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Seleccionar curso</mat-label>
        <mat-select [(value)]="curso">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Elegir fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha"  [value]="fecha">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button (click)="mostrar()" [disabled]="!curso || !fecha">
        {{botonMostrar}}
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button (click)="exportToExcel()" [disabled]="!dataSource">
        Exportar a Excel
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="filtro($event)" placeholder="Filtro" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.apellido}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="uidcard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uid </th>
        <td mat-cell *matCellDef="let row"> {{row.uidCard}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
        <td mat-cell *matCellDef="let row"> {{row.curso.nombre}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{fecha | date: 'dd-MM-yyyy'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron datos</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
<div class="main-body" *ngIf="!displayTable">
  <div mat-dialog-title>
    <h2>{{tituloFormulario}}</h2>
  </div>
  <form (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Id</mat-label>
          <input matInput type="text" placeholder="Id" [(ngModel)]="asistencia.id" name="id">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="closeCRUD()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{asistencia.id ? 'Update': 'Save'}}</button>
    </div>
  </form>
</div>
