<mat-toolbar color="primary">
  <span>{{titulo}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="main-body" *ngIf="displayTable">

  <mat-grid-list cols="3" rowHeight="4:1">

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Opcion</mat-label>
        <mat-select [(ngModel)]="opcion"
                    (selectionChange)="onComboOpcionChange()">
          <mat-option *ngFor="let opciones of ['Prestamo Libros', 'Devolver Libros']" [value]="opciones">
            {{ opciones }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="procesar()">{{opcionText}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <!-- Primer Datepicker -->
    <div *ngIf="isFecha">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Elegir fecha inicio</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" (dateChange)="verificarGuardarHabilitado()"
                 [value]="fechaInicio">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Segundo Datepicker -->
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Elegir fecha fin</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" [disabled]="checkboxHabilitado"
                 [value]="fechaFin" (dateChange)="verificarGuardarHabilitado()">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
      </mat-grid-tile>
    </div>

    <div *ngIf="isCurso">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Seleccionar curso</mat-label>
          <mat-select [(ngModel)]="curso">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </div>

    <!-- Combo Box -->
    <div *ngIf="isdiasSeleccionados">
      <mat-grid-tile>
        <mat-form-field class="example-full-width" >
          <mat-label>Seleccionar días</mat-label>
          <mat-select [(ngModel)]="diasSeleccionados" [disabled]="!checkboxHabilitado"
                      (selectionChange)="onComboChange()">
            <mat-option *ngFor="let dias of [7, 14, 30]" [value]="dias">
              {{ dias }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
      </mat-grid-tile>

      <!-- Checkbox -->
      <mat-grid-tile>
        <mat-checkbox class="example-margin" [(ngModel)]="checkboxHabilitado" (change)="onCheckboxChange()">
          Seleccionar dias
        </mat-checkbox>
      </mat-grid-tile>
    </div>

  </mat-grid-list>

  <div *ngIf="isTable">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filtro($event)" placeholder="Filtro" #input>
    </mat-form-field>


    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> titulo</th>
          <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="autor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor</th>
          <td mat-cell *matCellDef="let row"> {{row.autor}}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="editorial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Editorial</th>
          <td mat-cell *matCellDef="let row"> {{row.editorial}}</td>
        </ng-container>

        <ng-container matColumnDef="isbn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isbn</th>
          <td mat-cell *matCellDef="let row"> {{row.isbn}}</td>
        </ng-container>

        <ng-container matColumnDef="cantidadDisponible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Disponible</th>
          <td mat-cell *matCellDef="let row"> {{row.cantidadDisponible}}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.selected"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron datos</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <!--Spinner-->
  <div *ngIf="isLoading">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
      <p style="color: white"> Pase la tarjeta para autenticar </p>
    </ngx-spinner>
  </div>
  <!--End of Spinner-->
</div>
