.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

table {
  width: 100%;
}

.boton-verde {
  background-color: #4CAF50; /* Color verde */
  color: white; /* Color del texto */
}

.boton-verde:hover {
  background-color: #45A049; /* Color al pasar el cursor */
}

.boton-verde:disabled {
  background-color: whitesmoke;
}
